misc/schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="models" type="modelsType">
		<xs:annotation>
			<xs:documentation>
				XML Schema for tensor-product splines that approximate the isotopic distributions of MS/MS fragments.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="modelsType">
		<xs:sequence minOccurs="1">
			<xs:element name="model" type="individualModelType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="individualModelType">
		<xs:sequence>
			<xs:element name="S" type="xs:nonNegativeInteger" maxOccurs="1" minOccurs="0"/>
			<xs:element name="CS" type="xs:nonNegativeInteger" maxOccurs="1" minOccurs="0"/>
			<xs:element name="Se" type="xs:nonNegativeInteger" maxOccurs="1" minOccurs="0"/>
			<xs:element name="CSe" type="xs:nonNegativeInteger" maxOccurs="1" minOccurs="0"/>
			<xs:element name="PrecursorIndex" type="xs:nonNegativeInteger" maxOccurs="1"/>
			<xs:element name="FragmentIndex" type="xs:nonNegativeInteger" maxOccurs="1"/>
			<xs:element name="OrderX" type="xs:positiveInteger" maxOccurs="1"/>
			<xs:element name="OrderY" type="xs:positiveInteger" maxOccurs="1"/>

			<xs:element name="fragmentMassBreaks" type="base64BinaryArrayType" maxOccurs="1"/>
			<xs:element name="precursorMassBreaks" type="base64BinaryArrayType" maxOccurs="1"/>
			<xs:element name="coefficients" type="base64BinaryArrayType" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="base64BinaryArrayType">
		<xs:element name="precision" type="xs:nonNegativeInteger"/>
		<xs:element name="endian" type="xs:string"/>
		<xs:element name="length" type="xs:positiveInteger"/>
		<xs:element name="binaryArray" type="xs:base64Binary"/>
	</xs:complexType>

</xs:schema>